.custom-table .ant-table-thead > tr > th {
  background-color: white; /* Header background color */
  color: rgb(79, 79, 79);
  font-weight: 600;
  font-size: 12px;
}

.custom-table .ant-table-tbody > tr:nth-child(odd) {
  background-color: #f9fafb; /* Odd row background color */
}

.custom-table .ant-table-tbody > tr:nth-child(even) {
  background-color: white; /* Even row background color */
}
