@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    transition: 0.3s ease;
}

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.custom-placeholder::placeholder {
    transition: font-size 0.5s ease; /* Apply the transition here */
}

.table-striped > tbody > tr:nth-of-type(odd), .table-striped > tbody > tr:hover {
    @apply bg-light-grey;
    /*background-color: #f9fafb;*/
}

.table-header-border::before {
    position: absolute;
    top: 50%;
    inset-inline-end: 0;
    width: 1px;
    height: 1.6em;
    background-color: #f0f0f0;
    transform: translateY(-50%);
    transition: background-color 0.2s;
    content: "";
}
/* Add this in your global or component-specific CSS */
.sidebar-scroll {
    overflow-y: scroll;
    -ms-overflow-style: none;  /* For Internet Explorer 10+ */
    scrollbar-width: none;  /* For Firefox */
  }
  
  .sidebar-scroll::-webkit-scrollbar {
    display: none;  /* For Chrome, Safari, and Opera */
  }
  